<div class="ads">
    <div class="capa"></div>
    <form (ngSubmit)="ads()" formGroup="formAds">
        <h2>Registre sua <br/>instituição no StudentFinder</h2>
        <p class="subtitle">Informações gerais</p>
        <div class="row">
            <div class="col-5">
                <div class="campo">
                    <label for="">Nome da instituição</label>
                    <input type="text" placeholder="Escreva aqui" formControlName="nome">
                </div>
            </div>
            <div class="col-5">
                <div class="campo">
                    <label for="">Email</label>
                    <input type="text" placeholder="Escreva aqui" formControlName="email">
                </div>
            </div>
        </div>
        
        <!-- <p class="subtitle">Endereço</p> -->
        <div class="row">
            <div class="col-5">
                <div class="campo">
                    <label for="">Senha</label>
                    <input type="text" placeholder="Escreva aqui" formControlName="senha">
                </div>
            </div>
        </div>

        <p class="subtitle">Endereço</p>
        <div class="row">
            <div class="col-5">
                <div class="campo">
                    <label for="">Endereço</label>
                    <input type="text" placeholder="Escreva aqui" formControlName="address">
                </div>
            </div>
            <!-- <div class="col-5">
                <div class="campo">
                    <label for="">Bairro</label>
                    <input type="text" placeholder="Escreva aqui">
                </div>
            </div>
            <div class="col-5">
                <div class="campo">
                    <label for="">Cidade</label>
                    <input type="text" placeholder="Escreva aqui">
                </div>
            </div>
            <div class="col-5">
                <div class="campo">
                    <label for="">Estado</label>
                    <input type="text" placeholder="Escreva aqui">
                </div>
            </div>
            <div class="col-5">
                <div class="campo">
                    <label for="">Complemento</label>
                    <input type="text" placeholder="Escreva aqui">
                </div>
            </div> -->
        </div>

        <p class="subtitle">Cursos</p>
        <div class="row">
            <div class="col-5">
                <div class="campo">
                    <label for="">Nome do curso</label>
                    <input type="text" placeholder="Escreva aqui" formControlName="name">
                </div>
            </div>
            <div class="col-5">
                <div class="campo">
                    <label for="">Área de interesse</label>
                    <input type="text" placeholder="Escreva aqui" formControlName="area">
                </div>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Área de interesse</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Big Data no agronegócio</td>
                    <td>Tecnologia</td>
                    <td class=" btn btn-delete">excluir</td>
                </tr>
            </tbody>
        </table>

        
        <button class="btn btn-primary" type="submit">Registrar</button>
    </form>
</div>
