<!-- <div class="login">
    <div class="capa"></div>
    <div class="form">
        <div class="form-login">
            <div>
                <img src="../../assets/img/logo.png" alt="">
                <p>Crie anúncios dos cursos de sua faculdade, direcionado para alunos que possuem interesse na área.</p>
            </div>
            <form action="">
                <div class="campo">
                    <label for="">Login</label>
                    <input type="text" placeholder="Digite seu login">
                </div>
    
                <div class="campo">
                    <label for="">Senha</label>
                    <input type="password" placeholder="Digite sua senha">
                </div>
                
                <button class="btn btn-primary">Entrar</button>
            </form>
            <div class="footer">
                <p>Não possui conta?</p>
                <button class="btn btn-secondary" routerLink="/register">Cadastrar-se</button>
            </div>
        </div>
    </div>
</div> -->

<nav>
    <div class="container">
        <img src="../../assets/img/logo.png" alt="">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#s_saiba">Saiba mais</a></li>
            <li><a href="#s_teste">Teste Grátis</a></li>
            <li><a href="#s_registre">Registre sua faculdade</a></li>
            <li><a href="" class="btn">Entrar</a></li>
        </ul>
    </div>
</nav>

<header>
    <div class="container">
        <h1>Encontre alunos interessados nos seus cursos</h1>
        <a href="https://app.swaggerhub.com/apis/querino/student-finder/1.0.0" target="_blank" class="btn">Ver documentação</a>
    </div>
</header>

<section id="s_saiba">
    <div class="container">
        <div class="text">
            <h2>O que é o StudentFinder?</h2>
            <p>Somos um sistema que funciona através de uma api conectando cursos superiores a alunos interessados em áreas de conhecimento disponíveis na instituição.</p>
        </div>

        <img src="../../assets/img/Nerd-cuate.svg" alt="">
    </div>
</section>

<section id="s_teste">
    <img src="../../assets/img/Connecting teams-cuate.svg" alt="">
    <div class="container">
        <div class="text">
            <h2>Faça um teste grátis</h2>
            <p>Cadastre sua faculdade, escreva o conteúdo do anúncio que enviamos para os alunos interessados na área de conhecimento do curso.</p>
            <a [routerLink]="['/register']" class="btn">De graça até injeção na testa</a>
        </div>
    </div>
</section>

<section id="s_register">
    <div class="container">
        <div class="text">
            <h2>Registre sua faculdade</h2>
            <p>Cadastre sua faculdade, para conseguir enviar anúncios ilimitados.</p>
            <a href="" class="btn">Resgistrar</a>
        </div>
        <img src="../../assets/img/Learning-cuate.svg" alt="">
    </div>
</section>

<footer>
    <div class="container">
        <p>Desenvolvido por alunos do BDAg</p>
        <p>API 2022</p>
    </div>
</footer>