<nav>
    <div class="container">
        <img src="" alt="">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Configurações</a></li>
            <li><a href="">Sair</a></li>
        </ul>
    </div>
</nav>
<section>
    <div class="container">
        <div class="header">
            <button class="btn btn-primary">Criar anuncio</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Assunto</th>
                    <th>Curso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Venha conhecer o curso mais famoso da cidade de Pompeia</td>
                    <td>Nossos profissionais estão afiados para te entregar ensino de qualidade</td>
                    <td>MAP - Mecanização em Agricultura de Precisão </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>