<div class="register">
    <div class="capa"></div>
    <div class="formulario">
        <form [formGroup]="editForm">
            <h2>Faça um teste grátis</h2>
            <p class="subtitle">Sobre a instituição</p>
            <div class="row">
                <div class="col-5">
                    <div class="campo">
                        <label for="">Nome da instituição</label>
                        <input type="text" placeholder="Escreva aqui" formControlName="name">
                    </div>
                </div>
                <div class="col-5">
                    <div class="campo">
                        <label for="">Email</label>
                        <input type="text" placeholder="Escreva aqui" formControlName="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="campo">
                        <label for="">Endereço</label>
                        <input type="text" placeholder="Escreva aqui" formControlName="address">
                    </div>
                </div>
            </div>

            <div class="title-between">
                <p class="subtitle">Cursos</p>
                <button type="button" (click)="addCourses()" class="btn btn-secondary">Adicionar curso</button>
            </div>
    
            <table formArrayName="courses">
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Área de interesse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of courses.controls; let i=index">
                        <td [formGroupName]="i">
                            <input type="text" placeholder="Escreva aqui" formControlName="name">
                        </td>
                        <td [formGroupName]="i">
                            <input type="text" placeholder="Escreva aqui" formControlName="area">
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <!-- <button class="btn btn-primary">Registrar</button> -->
        </form>
    
        <form [formGroup]="editAds" (ngSubmit)="save()">
            <p class="subtitle">Sobre o anúncio</p>
            <!-- <div class="row">
                <div class="col-5">
                    <div class="campo">
                        <label for="">Título</label>
                        <input type="text" placeholder="Escreva aqui" FormControlName="content">
                    </div>
                </div>
                <div class="col-5">
                    <div class="campo">
                        <label for="">Assunto</label>
                        <input type="text" placeholder="Escreva aqui">
                    </div>
                </div>
            </div> -->
            
            <!-- <p class="subtitle">Email</p> -->
            <div class="row">
                <div class="campo">
                    <label for="">Corpo do email</label>
                    <textarea type="text" placeholder="Escreva aqui" formControlName="content"></textarea>
                </div>
            </div>
    
            <!-- <p class="subtitle">Cursos</p>
            <div class="row">
                <div class="col-5">
                    <div class="campo">
                        <label for="">Qual curso deseja anunciar</label>
                        <input type="text" placeholder="Escreva aqui" FormControlName="courses.name">
                    </div>
                </div>
            </div> -->
    
            <!-- <div class="title-between">
                <p class="subtitle">university</p>
                <button type="button" (click)="addUniversity()" class="btn btn-primary">Add</button>
            </div>
    
            <div formArrayName="university">
                <div *ngFor="let c of university.controls; let i=index" class="row">
                    <div class="col-5" [formGroupName]="i">
                        <div class="campo">
                            <label for="">Nome</label>
                            <input type="text" placeholder="Escreva aqui" formControlName="name">
                        </div>
                    </div>
                    <div class="col-5" [formGroupName]="i">
                        <div class="campo">
                            <label for="email">Email</label>
                            <input type="text" placeholder="Escreva aqui" formControlName="email">
                        </div>
                    </div>
                </div>
    
            </div> -->
    
            <button class="btn btn-primary" type="submit">Criar</button>
        </form>
    </div>
</div>



