<div class="register">
    <div class="capa"></div>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <h2>Registre sua <br/>instituição no StudentFinder</h2>
        <p class="subtitle">Informações gerais</p>
        <div class="row">
            <div class="col-5">
                <div class="campo">
                    <label for="">Nome da instituição</label>
                    <input type="text" placeholder="Escreva aqui" formControlName="name">
                </div>
            </div>
            <div class="col-5">
                <div class="campo">
                    <label for="">Email</label>
                    <input type="text" placeholder="Escreva aqui" formControlName="email">
                </div>
            </div>
        </div>
        
        <!-- <p class="subtitle">Endereço</p> -->
        <div class="row">
            <div class="col-5">
                <div class="campo">
                    <label for="">Senha</label>
                    <input type="text" placeholder="Escreva aqui" formControlName="senha">
                </div>
            </div>
        </div>

        <p class="subtitle">Endereço</p>
        <div class="row">
            <div class="col-5">
                <div class="campo">
                    <label for="">Endereço</label>
                    <input type="text" placeholder="Escreva aqui" formControlName="address">
                </div>
            </div>
            <!-- <div class="col-5">
                <div class="campo">
                    <label for="">Bairro</label>
                    <input type="text" placeholder="Escreva aqui">
                </div>
            </div>
            <div class="col-5">
                <div class="campo">
                    <label for="">Cidade</label>
                    <input type="text" placeholder="Escreva aqui">
                </div>
            </div>
            <div class="col-5">
                <div class="campo">
                    <label for="">Estado</label>
                    <input type="text" placeholder="Escreva aqui">
                </div>
            </div>
            <div class="col-5">
                <div class="campo">
                    <label for="">Complemento</label>
                    <input type="text" placeholder="Escreva aqui">
                </div>
            </div> -->
        </div>

        <div class="title-between">
            <p class="subtitle">Cursos</p>
            <button type="button" (click)="addCourses()" class="btn btn-primary">Add</button>
        </div>

        <div formArrayName="courses">
            <div *ngFor="let c of courses.controls; let i=index" class="row">
                <div class="col-5" [formGroupName]="i">
                    <div class="campo">
                        <label for="">Nome do curso</label>
                        <input type="text" placeholder="Escreva aqui" formControlName="name">
                    </div>
                </div>
                <div class="col-5" [formGroupName]="i">
                    <div class="campo">
                        <label for="">Área de interesse</label>
                        <input type="text" placeholder="Escreva aqui" formControlName="area">
                    </div>
                </div>
                <button type="button" (click)="addCoursesTable()" class="btn btn-primary">play</button>
            </div>

        </div>

        <table formArrayName="courses">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Área de interesse</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of table">
                    <td>{{c.name}}</td>
                    <td>{{c.area}}</td>
                    <td class=" btn btn-delete">excluir</td>
                </tr>
            </tbody>
        </table>

        
        <button class="btn btn-primary">Registrar</button>
    </form>
</div>